$green: #68b738;
$green-btn-hvr: #5eaa2f;
$input-error: #ff8282;
$input-active: #444444;
$input-hvr: #cdcdcd;
$radio-hvr: #bababa;
$grey-scale: #dcdcdc;
$radio: #cdcdcd;
$grey: #f2f2f2;
$gray-logo: #666666;
$black-title: #111111;
$grey-text: #444444;
$black-brown: #222222;
$grey-button-hvr: #ebebeb;
$inside: #ededed;
$gray-bottom: #d9d9d9;
$opacity-3: rgba(255, 255, 255, 0.3);
$font-a: "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1300px;
$tab-max-width: 1299px;
$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
$only-mobile-width: 767px;
