.card-button {
  @include text(uppercase, 16px);

  color: white;
  background-color: $green;
  width: 280px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;
  box-sizing: border-box;
  display: block;

  &:hover {
    background-color: $green-btn-hvr;
  }

  &:active {
    background-color: $green-btn-hvr;
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey {
    background-color: $grey;
    color: $grey-text;

    &:hover {
      background-color: $inside;
    }

    &:active {
      background-color: $inside;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--form {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.card-button[type="submit"] {
  border: none;
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .card-button {
    &--form {
      margin: 0;
      padding-bottom: 15px;
      padding-top: 15px;
      width: 283px;
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card-button {
    &--form {
      width: 568px;
      height: 52px;
      font-size: 20px;
      padding: 17px 208px;
    }
  }
}
