.contact {
  background-color: white;

  &--catalog {
    background-color: $grey;
  }

  &--form {
    background-color: $grey;
  }
}

.contact__container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.contact__title {
  @include text (uppercase, 16px);
  color: $black-title;
  text-align: left;
  line-height: 21px;
  margin: 0;
  margin-right: 17px;
}

.contact__descr {
  @include text (none, 14px);
  font-family: $font-a;
  color: $grey-text;
  line-height: 21px;
  margin: 0;
}

.contact__address {
  display: flex;
  padding: 27px 0;

  &--form {
    padding-left: 0;
    padding-right: 0;
    padding-top: 29px;
  }

  &--catalog {
    padding: 29px 0;
    padding-bottom: 24px;
  }
}

@media (min-width: $tablet-width) {
  .contact__container {
    width: 768px;
    padding: 0 30px;
  }

  .contact__address {
    padding-top: 65px;
    padding-bottom: 58px;
    padding-left: 40px;
    padding-right: 41px;
    justify-content: space-between;

    &--form {
      padding-top: 68px;
    }
  }

  .contact__title {
    width: 155px;
    font-size: 20px;
    line-height: 24px;
  }

  .contact__city {
    display: block;
    margin-top: 21px;
  }

  .contact__descr {
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contact__container {
    width: 1300px;
    position: relative;
    padding: 0 40px;
    z-index: 3;
    padding-top: 90px;
    margin: 0 auto;
  }

  .contact {
    height: 400px;
    position: relative;
  }

  .contact__address {
    width: 570px;
    background-color: white;
    padding-top: 70px;
    padding-left: 74px;
    padding-right: 93px;
    padding-bottom: 57px;
    justify-content: flex-start;
  }

  .contact__descr {
    text-align: left;
    margin-left: auto;
  }

  .contact__title {
    line-height: 25px;
    margin: 0;
  }

  .contact__city {
    margin-top: 0;
    padding-top: 23px;
  }
}
