.container-tab {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container-tab {
    width: 630px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .container-tab {
    width: $desktop-width;
    padding: 0 40px;
    padding-right: 0;
  }
}
