.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 34px;
}

.copyright__text {
  font-family: $font-a;

  @include text (none, 16px);
  color: $grey-text;
}

.copyright__logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &:active .copyright__text {
    opacity: 0.3;
  }

  &:hover svg {
    fill: $green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-bottom: 15px;
  }

  .copyright__text {
    padding-bottom: 0;
  }

  .copyright__logo {
    justify-content: flex-start;
    align-items: center;
  }

  .copyright__img {
    margin-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-bottom: 12px;
  }

  .copyright__img {
    margin-left: 25px;
  }
}
