.difference__btn {
  border: none;
  background-color: transparent;

  @include text (uppercase, 16px);
  color: $black-title;
  padding: 3px 6px;
}

.difference__range {
  width: 86px;
  height: 15px;
  border: 1px solid $radio;
  border-radius: 8px;
  padding: 3px 6px;
  background-color: white;
  position: relative;
}

.difference__button {
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.difference__wrapper-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 35px;
}

.difference__before-wrapper {
  padding-top: 25px;
  margin-bottom: 29px;
}

.difference__before-img {
  max-width: none;
  margin-left: -20px;
}

.difference__after-wrapper {
  display: none;
}

.difference__after-img {
  display: none;
}

@media (min-width: $tablet-width) {
  .difference {
    position: relative;
  }

  .difference__wrapper-img {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    position: relative;
  }

  .difference__after-wrapper {
    display: block;
  }

  .difference__range {
    background-color: $grey-scale;
    width: 428px;
    height: 6px;
    padding: 0;
    border-radius: 3px;
    border: none;
  }

  .difference__before-img {
    max-width: none;
  }

  .difference__button {
    left: 50%;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid $radio;
    background-color: white;
    width: 34px;
    height: 34px;
    top: -14px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 12px;
      margin: 0 auto;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tab-max-width) {
  .difference__before-wrapper {
    position: absolute;
    width: 319px;
    height: 545px;
    overflow: hidden;
    top: -27px;
    right: 354px;
    margin-bottom: 0;
    z-index: 2;
    background-image: linear-gradient(to top, #f2f2f2 353px, #ffffff 353px);
  }
}

@media (min-width: $tablet-width) {
  .difference__after-wrapper {
    background-image: linear-gradient(to top, #eaeaea 349px, #ffffff 349px);
  }

  .difference__after-img {
    display: block;
    margin-left: 16px;
    position: relative;
    z-index: 1;
  }

  .difference__img {
    max-width: none;
  }

  .difference__wrapper-btn {
    position: absolute;
    z-index: 1;
    bottom: 36px;
    right: 67px;
    padding: 0;
  }

  .difference__btn {
    padding: 0;
    padding-bottom: 6px;
    font-size: 20px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }

  .difference__button {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .difference__range {
    width: 428px;
    border: none;
    height: 6px;
    background-color: $grey-scale;
    margin: 0 24px;
  }

  .difference__scale {
    width: 100%;
    position: relative;
    background-color: transparent;
    border: none;
    top: -2px;
    left: 0;
  }

  .difference__bar {
    width: 34px;
    height: 34px;
    top: -13px;
    left: 50%;
    border: 1px solid $radio;
    background-color: white;
    border-radius: 50%;
    position: absolute;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .difference {
    overflow: hidden;
  }

  .difference__before-wrapper {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    width: 365px;
    background-image: linear-gradient(to top, #f2f2f2 462px, #ffffff 462px);
    height: 100%;
    padding-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 0;
  }

  .difference__after-wrapper {
    background-image: linear-gradient(to top, #eaeaea 463px, #ffffff 463px);
  }

  .difference__before-img {
    margin-left: 0;
    max-width: none;
  }

  .difference__after-img {
    margin-left: 0;
  }

  .difference__wrapper-img {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 690px;
    margin-bottom: 0;
    margin-left: 0;
    right: -40px;
    top: 0;
  }

  .difference__wrapper-btn {
    z-index: 3;
    bottom: 69px;
    right: 0;
  }
}
