.good-card {
  padding: 22px 19px;
  border: 1px solid $inside;
  border-bottom: none;

  &:nth-last-child() {
    border-bottom: 1px solid $inside;
  }
}

.good-card__title {
  @include text(uppercase, 16px);
  font-weight: 400;
  color: $black-title;
  text-align: left;
  margin: 0;
  width: 77px;
  margin-bottom: 10px;
  line-height: 20px;

  &--center {
    width: auto;
  }
}

.good-card__image {
  max-width: none;
  margin-top: -20px;
}

.good-card__text {
  font-family: $font-a;
  color: $black-title;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 0;

  @include text (none, 12px);
}

.good-card__description {
  line-height: 16px;
  margin-bottom: 13px;
  width: 100%;
  border: none;
}

.good-card__element {
  padding: 0;
  display: block;
}

.good-card__wrapper {
  display: flex;
  flex-direction: row;

  &--grey {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 58px;

    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
    }
  }
}

.good-card__wrapper-sm {
  width: 100%;
}

.good-card__row {
  font-family: $font-a;
  color: $grey-text;

  @include text(none, 12px);
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) and (max-width: $tab-max-width) {
  .good-card {
    background-color: $grey;
    border: none;
    padding: 38px;
    margin-top: 152px;
    margin-right: 59px;
    width: 324px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $tablet-width) {//             TABLET
  .good-card__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
    font-size: 20px;
    width: 135px;
    text-align: center;

    &--center {
      margin-bottom: 29px;
    }
  }

  .good-card__link {
    margin: 0 auto;
  }

  .good-card__description {
    line-height: 1;
    margin-bottom: 32px;
    width: 100%;
    border: none;
  }

  .good-card__text {
    font-size: 16px;
    width: 170px;
    margin-bottom: 87px;
  }

  .good-card__wrapper {
    flex-direction: column;

    &--grey {
      padding-top: 113px;

      &::before {
        background-image: url("../img/icon-plus.svg");
        width: 61px;
        height: 61px;
        top: 10px;
      }
    }
  }

  .good-card__wrapper-img {
    margin-top: -4px;
    margin-bottom: -3px;

    &--big {
      margin-top: -39px;
    }
  }

  .good-card__row {
    font-size: 16px;
    border-bottom: 1px solid $radio;
  }

  .good-card__element {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .good-card__image {
    margin-left: -38px;
    margin-right: -38px;
    margin-top: -88px;
    margin-bottom: 37px;

    &--big {
      margin-top: -124px;
    }
  }
}

@media (min-width: $desktop-width) {      //DESKTOP
  .good-card {
    width: 245px;
    background-color: $grey;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    margin-top: 143px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 31px;
    padding-right: 30px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  .good-card__description {
    width: 175px;
    margin-right: auto;
    margin-left: auto;
  }

  .good-card__text {
    margin-bottom: 85px;
    color: #444444;
    line-height: 20px;
  }

  .good-card__wrapper-img {
    margin-top: -69px;
    margin-bottom: 34px;

    &--big {
      margin-top: -103px;
    }
  }

  .good-card__element {
    padding-bottom: 8px;
    padding-top: 7px;
  }

  .good-card__wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;

    &--grey {
      padding-top: 142px;

      &::before {
        right: 70px;
        top: 33px;
      }
    }
  }

  .good-card__wrapper-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  .good-card__row {
    margin: 0;
    padding: 0;
  }

  .good-card__image {
    margin: 0;

    &--big {
      margin-top: 0;
    }
  }

  .good-card__title {
    margin-top: 0;
    margin-bottom: 18px;
    width: 134px;

    &--center {
      margin-bottom: 24px;
    }
  }
}
