@media (min-width: $desktop-width) {
  .header {
    &--background {
      min-height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, transparent 50%, #64a83b 50%);
      background-repeat: no-repeat, repeat;
      background-position: left calc(50% + 360px) top, left top;
    }
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi), (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .header {
    &--background {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, transparent 50%, #64a83b 50%);
      background-size: 720px auto, 100% 100%;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    &--background {
      background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, transparent 50%, #64a83b 50%);
      background-repeat: no-repeat, repeat;
      background-position: right  top, left top;
    }
  }
}

@media (min-width: 1440px) and (min-resolution: $retina-dpi), (min-width: 1440px) and (min-resolution: $retina-dppx) {
  .header {
    &--background {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, transparent 50%, #64a83b 50%);
      background-size: 720px auto, 100% 100%;
    }
  }
}
