.logo-text {
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 27px;
  display: block;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo-text {
    margin: 0;
    padding: 25px 0;
  }
}

@media (min-width: $desktop-width) {
  .logo-text {
    padding: 28px 0;
  }
}
