.map-wrapper {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 400px;
  background-position: center center;
  height: 365px;
  width: 100%;
}

@media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
  .map-wrapper {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px 400px;
  }
}

.map-wrapper__iframe {
  width: 100%;
  height: 365px;
}

@media (min-width: $tablet-width) {
  .map-wrapper {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: $tablet-width 400px;
    height: 400px;
  }

  .map-wrapper__iframe {
    width: 100%;
    height: 401px;
  }

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    .map-wrapper {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 767px 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .map-wrapper {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: 1440px 400px;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
  }

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    .map-wrapper {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px 400px;
    }
  }
}
