.nav-toggle {
  display: block;
  border: none;
  background-color: white;
  width: 19px;
  height: 18px;
  position: absolute;
  top: 23px;
  right: 22px;
  cursor: pointer;
  background-repeat: no-repeat;

  &--opened {
    background-image: url("../img/m-close-svg.svg");
  }

  &--closed {
    background-image: url("../img/mobile-menu-svg.svg");
  }
}

.nav-wrapper {
  position: relative;
}

@media (min-width: $tablet-width) {
  .nav-toggle {
    display: none;
  }
}
