.nav-logo {
  margin-top: 12px;

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .nav-logo__image {
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .nav-logo__image {
    width: 200px;

    &:hover {
      opacity: 0.8;
    }
  }
}
