.preferences {
  margin-bottom: 40px;
}

.preferences__list {
  @include ul-reset ();
}

.preferences__text {
  line-height: 20px;
  font-family: $font-a;
  color: $grey-text;

  @include text(none, 14px);
  margin: 0;
}

.preferences__header {
  margin-bottom: 38px;
}

.preferences__item {
  margin-bottom: 20px;
  padding-left: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }

  &--healthy {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powdery {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--dietary {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--quickly {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

@media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
  .preferences__item {
    &--healthy {
      &::before {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }

    &--powdery {
      &::before {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }

    &--dietary {
      &::before {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }

    &--quickly {
      &::before {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }
}
//                                                                                      Tablet view
@media (min-width: $tablet-width) {
  .preferences {
    border-bottom: 1px solid $inside;
  }

  .preferences__text {
    font-size: 16px;
    text-align: left;
    line-height: 21px;
  }

  .preferences__item {
    width: 245px;
    padding-top: 148px;
    padding-left: 0;
    margin-right: 140px;
    margin-bottom: 104px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
      top: 34px;
      left: 0;
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      font-size: 281px;
      color: $grey;
      bottom: -61px;
      background-image: none;
      left: 46%;
      z-index: -1;
    }

    &--healthy {
      &::after {
        content: "1";
      }
    }

    &--powdery {
      &::after {
        content: "2";
      }
    }

    &--dietary {
      &::after {
        content: "3";
      }
    }

    &--quickly {
      &::after {
        content: "4";
      }
    }
  }

  .preferences__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .preferences {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .preferences__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 31px;
  }

  .preferences__item {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 15px;
    min-height: 240px;
    padding-top: 144px;

    &::after {
      bottom: -29px;
    }
  }

  .preferences__text {
    line-height: 24px;
  }

  .preferences__header {
    margin-top: 0;
    margin-bottom: 25px;
  }
}
